# Dependencies
node_modules

# Build output
dist

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo

# Vite build artifacts
vite.config.js
vite.config.d.ts

# Claude Code
.claude
